.header {
    grid-area: h;
    background: #4267b2;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
}
.network {
    display: flex;
}
.network img {
    width: 60px;
    border-radius: 50px;
}
.network div {
    align-self: center;
}
.network span{
    color: aliceblue;
}
.loginBlock img {
    width: 50px;
    padding: 5px;
    border-radius: 10px;
}
.profileLogin {
    display: flex;
    align-items: center;
}
.profileLogin > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileLogin button {
    border-radius: 10px;
    color: #4267b2;
}
.loginBlock a {
    color: aliceblue;
}
