.paginator span.selectedPage {
    font-weight: bold;
    color: #232323;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
    background-color: white;
}
.paginator span{
    cursor: pointer;
}

.pageNumber {
    border: 1px solid #e5e5e5;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 4px;
    text-decoration: none;
}