body {
  background-image: url("https://f.vividscreen.info/soft/d231c0d846c26070a8ae2d1255c19036/Cool-Abstract-Background-1920x1080.jpg");
}

.app-wrapper {
  font-family: cursive;
  margin: 0 auto;
  display: grid;
  width: 900px;
  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 10fr;
  grid-gap: 7px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgba(250, 248, 248, 0.34)
}
/*убираю браузерную обводку */
a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}